<h2>{{ 'LOGIN.TITLE' | translate }}</h2>
<form [formGroup]="loginForm" (ngSubmit)="login()" class="form-container">

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'LOGIN.EMAIL_LABEL' | translate }}</mat-label>
        <input matInput formControlName="email" type="email" required autocomplete="email" />
        <mat-error *ngIf="loginForm.get('email')?.invalid">{{ 'LOGIN.EMAIL_ERROR' | translate }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'LOGIN.PASSWORD_LABEL' | translate }}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required
            autocomplete="current-password" />
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
            [attr.aria-label]="'Toggle password visibility'">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.invalid">
            {{ 'LOGIN.PASSWORD_ERROR' | translate }}
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">{{ 'LOGIN.LOGIN_BUTTON' | translate }}</button>
</form>

<div class="google-login">
    <button mat-stroked-button color="warn" (click)="loginGoogle()">{{ 'LOGIN.LOGIN_WITH_GOOGLE' | translate }}</button>
</div>

<p>{{ 'LOGIN.NO_ACCOUNT' | translate }} <a routerLink="/register">{{ 'LOGIN.REGISTER_LINK' | translate }}</a></p>
